html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

.icons-sprite, .main-content__events-container:after, .main-content__events-container--right:after, .main-content__banner:after {
  background-image: url('../img/icons-s983abf8bf5.png');
  background-repeat: no-repeat;
}

.hide {
  background: yellow;
  transition: 0.4s;
}

.clear:after {
  content: '';
  display: block;
  clear: both;
}

.wrapper {
  width: 1172px;
  margin: auto;
  font-family: arial, sans-serif;
}

.app {
  border-top: 5px solid #fdbd1f;
}

.header-logo {
  float: left;
  width: 200px;
  padding: 25px;
}

.header-nav {
  float: right;
  width: 536px;
}
.header-nav__item {
  text-transform: uppercase;
  margin-left: 5px;
  display: inline-block;
}
.header-nav__item:first-child {
  margin-left: 0;
}
.header-nav__link {
  color: #9e8e92;
  font-size: 13px;
  text-decoration: none;
  padding: 35px 20px;
  display: block;
  transition: 0.5s;
}
.header-nav__link:hover {
  color: white;
  background-color: #fdbd1f;
}

.main-content {
  position: relative;
  text-align: center;
}
.main-content__img {
  min-height: 441px;
}
.main-content__text, .main-content__title {
  position: absolute;
  color: white;
  font-size: 31px;
  display: block;
  background-color: #ab6f80;
  padding: 10px;
}
.main-content__text {
  top: 182px;
  left: 475px;
  width: 203px;
}
.main-content__title {
  width: 483px;
  top: 236px;
  left: 329px;
}
.main-content__info {
  background-color: #fdbd1f;
  position: relative;
  padding: 58px 299px;
}
.main-content__info-title {
  font-size: 24px;
  color: white;
  display: inline-block;
  margin-bottom: 20px;
  font-weight: bold;
}
.main-content__info-section {
  color: white;
  font-size: 20px;
  display: inline-block;
  margin-bottom: 35px;
  line-height: 1.5;
}
.main-content__info-button {
  text-decoration: none;
  color: #fdbd1f;
  font-size: 20px;
  background-color: #ab6f80;
  display: inline-block;
  padding: 15px 20px;
  border-radius: 2px;
  margin-left: 15px;
}
.main-content__info-button:first-child {
  margin-left: 0;
}
.main-content__info-button:hover {
  color: white;
  background-color: #783045;
}
.main-content__events {
  text-align: left;
  position: relative;
}
.main-content__events__title {
  color: #ab6f80;
  font-size: 24px;
  display: block;
  margin-bottom: 8px;
}
.main-content__events__section {
  font-size: 20px;
  color: #fdbd1f;
  display: block;
  margin-bottom: 30px;
}
.main-content__events__text {
  color: #978489;
  font-size: 15px;
  display: block;
  margin-bottom: 29px;
  line-height: 1.5;
  text-align: left;
}
.main-content__events__button {
  background-color: #fdbd1f;
  font-size: 16px;
  border-radius: 5px;
  padding: 10px 20px;
  color: white;
  text-decoration: none;
}
.main-content__events__button:hover {
  background-color: #e3a306;
}
.main-content__events-container {
  width: 350px;
  padding: 50px 63px 57px 150px;
  float: left;
}
.main-content__events-container:after {
  content: '';
  display: block;
  background-position: -130px 0;
  top: 54px;
  right: 488px;
  width: 69px;
  height: 99px;
  position: absolute;
}
.main-content__events-container--right {
  width: 373px;
  border-left: 2px solid #e2e2df;
}
.main-content__events-container--right:after {
  display: block;
  background-position: 0 0;
  top: 54px;
  left: 0;
  width: 125px;
  height: 91px;
  content: '';
  position: absolute;
}
.main-content__banner {
  background-color: #ab6f80;
  padding: 61px 81px 56px 382px;
  text-align: left;
  position: relative;
}
.main-content__banner:after {
  content: '';
  display: block;
  background-position: -200px 0;
  width: 269px;
  height: 231px;
  position: absolute;
  top: 60px;
  left: 58px;
}
.main-content__banner-title {
  font-size: 24px;
  color: white;
  font-weight: bold;
  display: block;
  margin-bottom: 8px;
}
.main-content__banner-section {
  font-size: 20px;
  color: white;
  display: block;
  margin-bottom: 27px;
}
.main-content__banner-text {
  font-size: 15px;
  color: #fdbd1f;
  line-height: 1.5;
  display: block;
  margin-bottom: 29px;
}
.main-content__banner-button {
  font-size: 16px;
  border-radius: 5px;
  padding: 10px 20px;
  color: #ab6f80;
  background-color: white;
  text-decoration: none;
}
.main-content__banner-button:hover {
  background-color: #dddbd7;
}
.main-content__slider {
  padding: 50px 235px 66px 234px;
}
.main-content__slider-title {
  color: #ab6f80;
  font-size: 24px;
  display: block;
  margin-bottom: 8px;
}
.main-content__slider-section {
  color: #fdbd1f;
  font-size: 20px;
  display: block;
  margin-bottom: 27px;
}
.main-content__slider-text {
  color: #978489;
  font-size: 15px;
  display: block;
  margin-bottom: 41px;
  line-height: 1.5;
}

.footer {
  min-height: 61px;
  background-color: #f0f0f0;
  text-align: center;
  padding-top: 49px;
}
.footer__link, .footer__section {
  text-decoration: none;
  color: #978489;
  font-size: 15px;
  display: inline-block;
}
.footer__link-designed-by, .footer__section-designed-by {
  color: #ab6f80;
}

.slider__slider {
  position: relative;
}
.slider__slider .bx-prev, .slider__slider .bx-next {
  display: block;
  width: 0;
  right: 0;
  border: 20px solid transparent;
  position: absolute;
  transform: translateY(-50%) rotate(-90deg);
  top: 50%;
  transition: 0.4s;
  font-size: 0;
}
.slider__slider .bx-next {
  border-top-color: #ab6f80;
  right: 0;
}
.slider__slider .bx-next:hover {
  border-top-color: #c79fab;
}
.slider__slider .bx-prev {
  border-top-color: #ab6f80;
  left: 0;
  transform: translateY(-50%) rotate(90deg);
}
.slider__slider .bx-prev:hover {
  border-top-color: #c79fab;
}

/*# sourceMappingURL=main.css.map */
