@import 'compass';
@import "compass/reset";

$icons-spacing: 30px;
$icons-layout: smart;
@import "icons/*.png";

.hide {
  //display: none !important;
  background: yellow;
  transition: 0.4s;
}

.clear:after {
  content: '';
  display: block;
  clear: both;
}

.wrapper {
  width: 1172px;
  margin: auto;
  font-family: arial, sans-serif;
}

.app {
  border-top: 5px solid #fdbd1f;
}

.header-logo {
  float: left;
  width: 200px;
  padding: 25px;
}

.header-nav {
  float: right;
  width: 536px;
  &__item {
    text-transform: uppercase;
    margin-left: 5px;
    display: inline-block;
    &:first-child {
      margin-left: 0;
    }
  }
  &__link {
    color: #9e8e92;
    font-size: 13px;
    text-decoration: none;
    padding: 35px 20px;
    display: block;
    transition: 0.5s;
    &:hover {
      color: white;
      background-color: #fdbd1f;
    }
  }
}

.main-content {
  position: relative;
  text-align: center;
  &__img {
    min-height: 441px;
  }
  &__text, &__title {
    position: absolute;
    color: white;
    font-size: 31px;
    display: block;
    background-color: #ab6f80;
    padding: 10px;
  }
  &__text {
    top: 182px;
    left: 475px;
    width: 203px;
  }
  &__title {
    width: 483px;
    top: 236px;
    left: 329px;
  }
  &__info {
    background-color: #fdbd1f;
    position: relative;
    padding: 58px 299px;
    &-title {
      font-size: 24px;
      color: white;
      display: inline-block;
      margin-bottom: 20px;
      font-weight: bold;
    }
    &-section {
      color: white;
      font-size: 20px;
      display: inline-block;
      margin-bottom: 35px;
      line-height: 1.5;
    }
    &-button {
      text-decoration: none;
      color: #fdbd1f;
      font-size: 20px;
      background-color: #ab6f80;
      display: inline-block;
      padding: 15px 20px;
      border-radius: 2px;
      margin-left: 15px;

      &:first-child {
        margin-left: 0;
      }

      &:hover {
        color: white;
        background-color: #783045;
      }
    }
  }
  &__events {
    text-align: left;
    position: relative;
    &__title {
      color: #ab6f80;
      font-size: 24px;
      display: block;
      margin-bottom: 8px;
    }
    &__section {
      font-size: 20px;
      color: #fdbd1f;
      display: block;
      margin-bottom: 30px;
    }
    &__text {
      color: #978489;
      font-size: 15px;
      display: block;
      margin-bottom: 29px;
      line-height: 1.5;
      text-align: left;
    }
    &__button {
      background-color: #fdbd1f;
      font-size: 16px;
      border-radius: 5px;
      padding: 10px 20px;
      color: white;
      text-decoration: none;
      &:hover {
        background-color: #e3a306;
      }
    }
    &-container {
      width: 350px;
      padding: 50px 63px 57px 150px;
      float: left;
      &:after {
        content: '';
        display: block;
        @include icons-sprite(main-microphone);
        top: 54px;
        right: 488px;
        width: 69px;
        height: 99px;
        position: absolute;
      }
      &--right {
        width: 373px;
        border-left: 2px solid #e2e2df;
        &:after {
          display: block;
          @include icons-sprite(main-rocket);
          top: 54px;
          left: 0;
          width: 125px;
          height: 91px;
          content: '';
          position: absolute;
        }
      }
    }
  }
  &__banner {
    background-color: #ab6f80;
    padding: 61px 81px 56px 382px;
    text-align: left;
    position: relative;
    &:after {
      content: '';
      display: block;
      @include icons-sprite(main-phone);
      width: 269px;
      height: 231px;
      position: absolute;
      top: 60px;
      left: 58px;
    }
    &-title {
      font-size: 24px;
      color: white;
      font-weight: bold;
      display: block;
      margin-bottom: 8px;
    }
    &-section {
      font-size: 20px;
      color: white;
      display: block;
      margin-bottom: 27px;
    }
    &-text {
      font-size: 15px;
      color: #fdbd1f;
      line-height: 1.5;
      display: block;
      margin-bottom: 29px;
    }
    &-button {
      font-size: 16px;
      border-radius: 5px;
      padding: 10px 20px;
      color: #ab6f80;
      background-color: white;
      text-decoration: none;
      &:hover {
        background-color: #dddbd7;
      }
    }
  }
  &__slider {
    padding: 50px 235px 66px 234px;
    &-title {
      color: #ab6f80;
      font-size: 24px;
      display: block;
      margin-bottom: 8px;
    }
    &-section {
      color: #fdbd1f;
      font-size: 20px;
      display: block;
      margin-bottom: 27px;
    }
    &-text {
      color: #978489;
      font-size: 15px;
      display: block;
      margin-bottom: 41px;
      line-height: 1.5;
    }
  }
}

.footer {
  min-height: 61px;
  background-color: #f0f0f0;
  text-align: center;
  padding-top: 49px;

  &__link, &__section {
    text-decoration: none;
    color: #978489;
    font-size: 15px;
    display: inline-block;
    &-designed-by {
      color: #ab6f80;
    }
  }
}

.slider {
  &__slider {
    position: relative;
  }
  &__slider .bx-prev, &__slider  .bx-next  {
    display: block;
    width: 0;
    right: 0;
    border: 20px solid transparent;
    position: absolute;
    transform: translateY(-50%) rotate(-90deg);
    top: 50%;
    transition: 0.4s;
    font-size: 0;
  }
  &__slider  .bx-next {
    border-top-color: #ab6f80;
    right: 0;
    &:hover {
      border-top-color: lighten(#ab6f80, 15%);
    }
  }
  &__slider .bx-prev {
    border-top-color: #ab6f80;
    left: 0;
    transform: translateY(-50%) rotate(90deg);
    &:hover {
      border-top-color: lighten(#ab6f80, 15%);
    }
  }
}
